In [2]:
import numpy as np
import pandas as pd

How likely is it that you roll doubles when rolling two dice?

In [16]:
n_trials = 100_000 # rows
n_dice = 2 # columns

rolls_array = np.random.choice([1, 2, 3, 4, 5, 6], n_trials * n_dice)\
        .reshape(n_trials, n_dice)

rolls_array

array([[2, 3],
       [3, 6],
       [2, 5],
       ...,
       [2, 5],
       [6, 4],
       [4, 1]])

In [14]:
(rolls[:,0] == rolls[:,1]).mean()

0.16549

In [20]:
# pandas solution

rolls_df = pd.DataFrame(rolls_array)
rolls_df['die1'] = np.random.choice([1, 2, 3, 4, 5, 6], size = 100_000)
rolls_df['die2'] = np.random.choice([1, 2, 3, 4, 5, 6], size = 100_000)
rolls_df

       0  1  die1  die2
0      2  3     6     3
1      3  6     3     3
2      2  5     5     3
3      2  2     5     1
4      2  3     2     5
...   .. ..   ...   ...
99995  4  6     4     6
99996  3  5     1     5
99997  2  5     6     2
99998  6  4     3     1
99999  4  1     1     2

[100000 rows x 4 columns]

In [23]:
rolls_df['is_pair'] = (rolls_df.die1 == rolls_df.die2)
rolls_df.is_pair.mean()

0.16816

In [25]:
# numpy solution

a = np.random.choice([1, 2, 3, 4, 5, 6], size = 100_000)
b = np.random.choice([1, 2, 3, 4, 5, 6], size = 100_000)
(a == b).mean()

0.16683

If you flip 8 coins, what is the probability of getting exactly 3 heads? 

What is the probability of getting more than 3 heads?

In [26]:
n_trials = nrows = 100_000
n_coins = ncols = 8

# 1 is heads, 0 is tails (encoded)
coin_flips = np.random.choice([1, 0], n_trials * n_coins)\
.reshape(nrows, ncols)
coin_flips

array([[1, 0, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 0, 1, 0],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 1, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 0, 0]])